body{
  margin: 0;
  border: 0;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.darkMode {
  background-color: black;
  color:antiquewhite
}

.divGeneral {
  background-color: aqua;
  color: gray;
}

.btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
  }
  .css-button-shadow-border--green:hover {
    background-color: #80ed99;
  }
  .css-button-shadow-border--green:active {
    top: 2px;
  }

.dropdown-toggle {
  position: absolute;
  top: 8px;
  width: 43px;
  height: 40px;
}